.doc-wrapper {
    display: grid;
    grid-template-columns: minmax(220px, auto) 1fr;
    grid-gap: 20px;
    grid-template-areas: "navbar mainContent";
  }
  
  #navbar {
    grid-area: navbar;
    position: sticky;
    top: 10rem;
    background-color: #F9F9FB;
    height: 75vh;
    padding: 10px 40px;
    z-index: 100;
    overflow: auto;
  }
  
  nav ul li a {
    display: block;
    font-size: 1rem;
    padding: 10px;
    margin: 10px 0;
  }
  
  footer {
      z-index: 99;
  }

  #header {
      width: 100vw;
      position: fixed;
      z-index: 101;
  }

  #mainContent {
    grid-area: mainContent;
    position: inherit;
    margin-top: 9rem;
  }
  
  #navbar ul li .collapse {
    padding-left: 30px;
  }
  
  #navbar ul li.active>a,
  a[area-expanded="true"] {
    color: #1b6ca8;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
  }
  
  @media (min-width: 769px) {
    #navbarCollapse {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    #navbar {
        margin-left: -500px;
        top: 0;
        position: fixed;
        z-index: 102;
        height: 110vh !important;
        
    }
    #navbar.active {
        margin-left: 0;
    }
    .doc-wrapper {
      display: block !important;
    }

    #mainContent {
      margin-top: 11rem;
    }
  }